<p>
  <%= comment.commenter %>
</p>

<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
    method: :delete,
    data: { confirm: 'U finna Bash this Trash?' } %>
</p>
